<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorator="layout_tables"
      th:with="title=#{directoryhit.info.title(${directoryHit.id})}">
<th:block layout:fragment="content">
    <div id="project-detail" class="content scaffold-edit" role="main">
        <div class="container-fluid">
            <div class="row">
                <aside class="col-lg-12">
                    <div class="spacer"></div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 th:text="#{directoryhit.info.header}">Bestand hit details</h3>
                        </div>
                        <div class="panel-body">
                            <dl class="dl-horizontal">
                                <dt th:text="#{directoryhit.id}">ID</dt>
                                <dd th:text="${directoryHit.id}"></dd>
                                <dt th:text="#{directoryhit.name}">Vol pad</dt>
                                <dd th:text="${directoryHit.name}"></dd>
                                <dt th:text="#{directoryhit.hostname}">Hostnaam</dt>
                                <dd th:text="${directoryHit.hostname}"></dd>
                                <dt th:text="#{directoryhit.ip}">IP</dt>
                                <dd th:text="${directoryHit.ip}"></dd>
                                <dt th:text="#{directoryhit.time.creation}">Aanmaakdatum</dt>
                                <dd th:text="${directoryHit.creationTime}"></dd>
                                <dt th:text="#{directoryhit.access}">Laatste opening</dt>
                                <dd th:text="${directoryHit.lastAccessTime}"></dd>
                                <dt th:text="#{directoryhit.time.write}">Laatste wijziging</dt>
                                <dd th:text="${directoryHit.lastWriteTime}"></dd>
                                <dt th:text="#{directoryhit.access}">Rechten</dt>
                                <dd th:text="${directoryHit.access}"></dd>
                            </dl>
                        </div>
                        <div class="panel-footer">
                            <a th:href="@{/projects/{projectId}/queries/{queryId}/hits/file/{id}/delete(projectId=${project.id}, queryId=${query.id}, id=${directoryHit.id})}"
                               class="btn btn-sm btn-danger"><i class="fa fa-trash fa-fw" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>

    <script th:src="@{~/js/jquery-2.2.0.min.js}"></script>
    <script th:src="@{~/js/bootstrap.js}"></script>
    <script th:src="@{~/js/application.js}"></script>
    <script th:src="@{~/js/parsley.min.js}"></script>

</th:block>
</html>