<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
<th:block layout:include="fragments/head"/>
<body>

<div sec:authorize="hasAuthority('ADMIN')">
    <th:block layout:replace="fragments/header-admin"/>
</div>

<div sec:authorize="hasAuthority('USER')">
    <th:block layout:replace="fragments/header-user"/>
</div>

<th:block layout:replace="fragments/alert"/>

<th:block layout:fragment="content"/>

<th:block layout:fragment="body_end"/>
<th:block layout:replace="fragments/scripts :: end"/>
</body>
</html>